.user-config {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 30px;
}

.edit-user, .delete-user {
    padding: 2px 10px;
    margin-right: 10px;
    border: 1px solid #000;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    background-color: #2a2f50;
}

.edit-user:hover, .delete-user:hover {
    background-color: rgb(0, 120, 175);
}

@media screen and (max-width: 1255px){
    .user-config {
        width: 50%;
        height: auto;
    }
}

@media screen and (max-width: 890px){
    .user-config {
        width: 60%;
        height: auto;
    }
}

@media screen and (max-width: 715px){
    .user-config {
        width: 85%;
        height: auto;
    }
}

@media screen and (max-width: 585px){
    .user-config {
        flex-direction: column;
        width: 80%;
        height: auto;
    }
    .edit-user {
        margin-bottom: 8px;
    }
}

@media screen and (max-width: 420px){
    .user-config {
        flex-direction: column;
        width: 120%;
        height: auto;
    }
    .edit-user {
        margin-bottom: 8px;
    }
}