body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    border: 1px solid #000;
    padding: 5px;
    text-align: center;
    background-color: #2a2f50;
    color: #fff;
}

td {
    border: 1px solid #000;
    padding: 5px;
    text-align: center;
}

td a {
    margin: 0;
    padding: 0;
}

#acoes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/*a {
    font-size: 20px;
    padding: 3px 5px;
    background: #1f3c58;
    border: 1px solid black;
    color: #fff;
    text-decoration: none;
}


a:hover, #env:hover {
    background-color: #315e8a;
}*/

#buy {
    padding: 2px 10px;
    border: 1px solid #000;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    background-color: #2a2f50;
}

#buy:hover {
    background-color: rgb(0, 120, 175);
}

#cancel {
    padding: 2px 10px;
    border: 1px solid #000;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    background-color: #8b0000;
}

#cancel:hover {
    background-color: rgb(180, 0, 0);
}

#editar {
    padding: 2px 10px;
    border: 1px solid #000;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    background-color: rgb(209, 153, 0);
}

#editar:hover {
    background-color: rgb(247, 181, 0);
}

#excluir {
    padding: 2px 10px;
    border: 1px solid #000;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    background-color: #8b0000;
}

#excluir:hover {
    background-color: rgb(180, 0, 0);
}

.div-search-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px 0 15px;
}

.form-search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 35px;
}

.form-search .search-bar {
    width: 250px;
    height: 25px;
    margin-right: 5px;
}

.form-search .submit {
    width: 100px;
    height: 31px;
    text-transform: uppercase;
    background-color: #2a2f50;
    color: #fff;
    cursor: pointer;
    border: 1px solid #000;
}

.btn-submit {
    width: 120px;
    height: 31px;
    margin-left: 8px;
    text-transform: uppercase;
    background-color: #2a2f50;
    color: #fff;
    cursor: pointer;
    border: 1px solid #000;
}

.form-search .submit:hover, .btn-submit:hover {
    background-color: rgb(0, 120, 175)
}