body {
    font-family: Arial, Helvetica, sans-serif;
    overflow: visible;
}
.area-form-company, .area-form-user, .area-form-course {
    display: flex;
    /*height: 100vh;
    justify-content: center;
    align-items: center;*/
}

.form-company, .form-user, .form-course {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-color: #181920;*/
    width: 600px;
    height: auto;
    border-radius: 10px;
    border: 1px solid #c4c4c4;
}

.form-company form, .form-user form, .form-course form {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.form-company input, .form-user input, .form-course input {
    margin-bottom: 15px;
    background-color: #c4c4c49d;
    padding-left: 10px;
    color: #000;
    border: none;
    height: 30px;
    border-radius: 10px;
}

.form-company input:focus, .form-company textarea:focus, .form-user input:focus, .form-course input:focus, .form-course textarea:focus {
    outline: #5568FE solid 1px;
}

.form-company h1, .form-user h1, .form-course h1 {
    font-size: 36px;
    color: #000;
    height: auto;
}

.form-fields {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 5px;
}

.div-login, .div-nome, .div-cpf, .div-cnpj, .div-email, .div-tel, .div-senha, .div-desc, .div-valor, .div-duracao {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.div-desc textarea {
    max-width: 264px;
    max-height: 150px;
}


#send-data {
    display: block;
    background-color: #2a2f50;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
}

.botao-enviar {
    display: flex;
    justify-content: center;
}

#send-data:hover {
    background-color: rgb(0, 120, 175);
}

#send-data {
    width: 150px;
}

label {
    margin-bottom: 5px;
    text-align: left;
    color: #000;
}
